.home {
    width: 120px;
    height: 60px;
    display: block;
    text-align: center;
    line-height: 60px;
    border-radius: 20px;
    position: absolute;
    top: 40px;
    right: 70px;
    background-color: #f2f2f2;
    box-shadow: 1px 1px 20px #f2f2f2;
    font-weight: bold;
    transition: all .3s;
}

.home:hover {
    background-color: #9c9c9c;
    color: #fff;
}